<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EventStore" connectionString="Data Source=localhost;Initial Catalog=TimesEF;Integrated Security=SSPI;" />
    <add name="ReadModel" connectionString="Data Source=localhost;Initial Catalog=TimesEF;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>