<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EventStore" connectionString="Data Source=localhost;Initial Catalog=TimesEF;User Id=timesef;Password=timesef;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ReadModel" connectionString="Data Source=localhost;Initial Catalog=TimesEF;;User Id=timesef;Password=timesef;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>